@* @model thuthuka_construction.models.customerproject

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">project progress</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <dl class="row">
            <dt class="col-sm-3">project name</dt>
            <dd class="col-sm-9">@model.project.projectname</dd>

            <dt class="col-sm-3">status</dt>
            <dd class="col-sm-9">@model.status</dd>

            <dt class="col-sm-3">start date</dt>
            <dd class="col-sm-9">@model.createddate.tostring("yyyy-mm-dd")</dd>

            <!-- you can add more project progress information here -->
        </dl>

        <div class="row pt-4">
            <div class="col-6 col-md-3">
                <a class="btn btn-primary" asp-area="" asp-controller="customerprojects" asp-action="customerprojectprogress">back to project list</a>
            </div>
        </div>
    </div>
</div>
 *@