@model Thuthuka_Construction.Models.Progress

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary bg-gradient text-white py-3">
        <h2 class="text-center">Create New Progress Entry</h2>
    </div>
    <div class="card-body p-4">
        <h4>Progress</h4>
        <hr />
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerProjectId" class="control-label"></label>
                <select asp-for="CustomerProjectId" class="form-control" asp-items="ViewBag.CustomerProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="CurrentPhase" class="control-label"></label>
                <select asp-for="CurrentPhase" class="form-control"></select>
                <span asp-validation-for="CurrentPhase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdateDate" class="control-label"></label>
                <input asp-for="UpdateDate" class="form-control" />
                <span asp-validation-for="UpdateDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
