@model Thuthuka_Construction.Models.Resource

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3 text-white">
        <h2 class="text-center mb-0">Create Resource</h2>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-floating py-2 col-12">
                <input asp-for="Name" class="form-control border-0 shadow" />
                <label asp-for="Name" class="ms-2">Name</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="PricePerUnit" class="form-control border-0 shadow" />
                <label asp-for="PricePerUnit" class="ms-2">Price Per Unit</label>
                <span asp-validation-for="PricePerUnit" class="text-danger"></span>
            </div>

            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}