@* @model Thuthuka_Construction.Models.Quatation

@{
    ViewData["Title"] = "Create";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-primary text-white">
        <h2 class="text-center mb-0">Create Quotation</h2>
    </div>
    <div class="card-body p-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>

            <div class="form-floating py-2 col-12">
                <select asp-for="CustomerProjectId" class="form-select border-0 shadow" asp-items="ViewBag.CustomerProjectId">
                    <option disabled selected>--Select Customer Project--</option>
                </select>
                <label asp-for="CustomerProjectId" class="ms-2">Customer Project</label>
                <span asp-validation-for="CustomerProjectId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <select asp-for="ForemanId" class="form-select border-0 shadow" asp-items="ViewBag.ForemanId">
                    <option disabled selected>--Select Foreman--</option>
                </select>
                <label asp-for="ForemanId" class="ms-2">Foreman</label>
                <span asp-validation-for="ForemanId" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="TotalCost" class="form-control border-0 shadow" />
                <label asp-for="TotalCost" class="ms-2">Total Cost</label>
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>

            <div class="form-floating py-2 col-12">
                <input asp-for="Resources" class="form-control border-0 shadow" />
                <label asp-for="Resources" class="ms-2">Resources</label>
                <span asp-validation-for="Resources" class="text-danger"></span>
            </div>


            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control">Create</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
 *@