@model Thuthuka_Construction.Models.Quatation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Quatation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerProjectId" class="control-label"></label>
                <select asp-for="CustomerProjectId" class ="form-control" asp-items="ViewBag.CustomerProjectId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ForemanId" class="control-label"></label>
                <select asp-for="ForemanId" class ="form-control" asp-items="ViewBag.ForemanId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TotalCost" class="control-label"></label>
                <input asp-for="TotalCost" class="form-control" />
                <span asp-validation-for="TotalCost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Resources" class="control-label"></label>
                <input asp-for="Resources" class="form-control" />
                <span asp-validation-for="Resources" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateCreated" class="control-label"></label>
                <input asp-for="DateCreated" class="form-control" />
                <span asp-validation-for="DateCreated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
