@* @model QuotationViewModel

<form asp-action="CreateQuotation" method="post">
    <div>
        <label>Project Name</label>
        <input asp-for="ProjectName" />
    </div>
    <div>
        <label>Type of Project</label>
        <input asp-for="TypeOfProject" />
    </div>

    <div>
        <h4>Quotation Items</h4>
        @for (var i = 0; i < Model.QuotationItems.Count; i++)
        {
            <div>
                <select asp-for="QuotationItems[i].ResourceName">
                    @foreach (var resource in Model.Resources)
                    {
                        <option value="@resource.Name">@resource.Name</option>
                    }
                </select>
                <input asp-for="QuotationItems[i].Quantity" />
                <input asp-for="QuotationItems[i].TotalPrice" readonly />
            </div>
        }
    </div>

    <div>
        <label>Total Cost</label>
        <input asp-for="TotalCost" readonly />
    </div>

    <button type="submit">Submit Quotation</button>
</form>
 *@