@model Thuthuka_Construction.Models.Quatation

@{
    ViewData["Title"] = "Edit";
}

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Edit Quotation</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="QuatationId" />

            <div class="row">
                <div class="col-md-12">
                    <div class="border p-3">
                        <div class="form-floating py-2 col-12">
                            <select asp-for="CustomerProjectId" class="form-select border-0 shadow" asp-items="ViewBag.CustomerProjectId">
                                <option disabled selected>--Select Customer Project--</option>
                            </select>
                            <label asp-for="CustomerProjectId" class="ms-2">Customer Project</label>
                            <span asp-validation-for="CustomerProjectId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <select asp-for="ForemanId" class="form-select border-0 shadow" asp-items="ViewBag.ForemanId">
                                <option disabled selected>--Select Foreman--</option>
                            </select>
                            <label asp-for="ForemanId" class="ms-2">Foreman</label>
                            <span asp-validation-for="ForemanId" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="TotalCost" class="form-control border-0 shadow" />
                            <label asp-for="TotalCost" class="ms-2">Total Cost</label>
                            <span asp-validation-for="TotalCost" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Resources" class="form-control border-0 shadow" />
                            <label asp-for="Resources" class="ms-2">Resources</label>
                            <span asp-validation-for="Resources" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="DateCreated" id="DateCreated" class="form-control border-0 shadow datetimepicker" />
                            <label asp-for="DateCreated" class="ms-2">Date Created</label>
                            <span asp-validation-for="DateCreated" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <input asp-for="Status" class="form-control border-0 shadow" />
                            <label asp-for="Status" class="ms-2">Status</label>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>

                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Save</button>
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-action="Index" class="btn btn-outline-primary border form-control">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            $('.datetimepicker').datepicker({
                format: 'yyyy-mm-dd', // Change this format according to your needs
                autoclose: true
            });
        });
    </script>
}
