@model Thuthuka_Construction.Models.ProjectType

<div class="card shadow border-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-2">Project Type Details</h2>
            </div>
        </div>
    </div>

    <div class="card-body p-4">
        <h4 class="border-bottom pb-3 mb-4 text-secondary">Project Type Information</h4>

        <dl class="row">
            <dt class="col-sm-3">Project Type Name</dt>
            <dd class="col-sm-9">@Html.DisplayFor(model => model.ProjectTypeName)</dd>
        </dl>

        <div class="row pt-3">
            <div class="col-6 col-md-3">
                <a asp-action="Edit" asp-route-id="@Model?.ProjectTypeId" class="btn btn-primary form-control">Edit</a>
            </div>
            <div class="col-6 col-md-3">
                <a asp-action="Index" class="btn btn-outline-primary form-control">Back to List</a>
            </div>
        </div>
    </div>
</div>
